nav {
    width: 100%;
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: flex-start; /* 좌측 정렬 */
    padding: 10px;
}
nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 2px 2px 0 #fff;
    text-shadow: 1px 1px #000;
    font-family: 'Press Start 2P', sans-serif; /* 8비트 스타일 폰트 */
    cursor: pointer;
    transition: transform 0.1s;
}
nav a:hover {
    background-color: #444;
    transform: translate(2px, 2px); /* 8비트 효과 */
    box-shadow: 0 0 0 #fff;
}
nav a.active {
    background-color: #4CAF50;
    color: white;
}
/* 폰트 적용을 위해 Google Fonts에서 불러옴 */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}

img.logo {
    max-width: 100%;
    height: auto;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}
.selection, .nutrition-info {
    flex: 1;
    min-width: 300px;
    box-sizing: border-box;
}
h1, h3 {
    text-align: center;
}
#nutrition_table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 14px;
    text-align: left;
}
th, td {
    border-bottom: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #f2f2f2;
    text-align: left;
}
.selected-items ul {
    list-style-type: none;
    padding: 0;
}
.selected-items ul li {
    margin: 0;
}
.selection select, .selection button {
    display: block;
    width: 30%;
    margin: 10px auto;
}
.nutrition-info table {
    margin: 20px 0;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }
    .selection, .selected-items, .nutrition-info {
        min-width: 100%;
    }
}

#selected_table {
    width: 100%;
    border-collapse: separate;
    margin: 20px auto;
    font-size: 14px;
    text-align: left;
    
}
#selected_table tr td {
    text-align: left;
}
