<!DOCTYPE html>

<html>

<!-- #201224_hmkim -->
<head>
	<title>SUBWAY - 단체메뉴</title>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />

    
    
    
    
        <!-- SNS LINK -->
        <meta content="website" property="og:type" />
        <meta content="SUBWAY KOREA" property="og:title" />
        <meta content="http://m.subway.co.kr/" property="og:url" /><!-- 20180221 -->
        <meta content="http://m.subway.co.kr/images/common/subway_og.png" property="og:image" /><!-- 20180221 -->
        <meta content="image/png" property="og:image:type" />
        <meta content="570" property="og:image:width" />
        <meta content="400" property="og:image:height" />
        <meta content="신선하고 건강한 글로벌 NO.1 샌드위치 브랜드, 써브웨이" property="og:description" />
        <!--// SNS LINK -->
    


    <link href="http://subway.co.kr/" rel="canonical" /><!-- 20180221 -->
    <meta content="신선하고 건강한 글로벌 NO.1 샌드위치 브랜드, 써브웨이" name="description" /><!-- 20181212 -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/common/subway_favicon.ico?v=20250211-2" />
        <!-- 20180131 -->
        <link rel="stylesheet" type="text/css" href="/css/ui.common.css?v=20250211-2" />
        <link rel="stylesheet" type="text/css" href="/css/jquery.mCustomScrollbar.min.css?v=20250211-2" />
        
        

        <script type="text/javascript" src="/js/jquery/jquery-1.12.4.min.js?v=20250211-2"></script>
        <script type="text/javascript" src="/js/jquery/jquery-ui-1.12.0.min.js?v=20250211-2"></script>
        <script type="text/javascript" src="/js/jquery/jquery.easing.1.3.min.js?v=20250211-2"></script>
        <script type="text/javascript" src="/js/jquery/jquery.bxslider.min.js?v=20250211-2"></script>
        <script type="text/javascript" src="/js/jquery/jquery.mCustomScrollbar.concat.min.js?v=20250211-2"></script>
        <!-- block ui -->
        <script type="text/javascript" src="/js/jquery/jquery.blockUI.min.js?v=20250211-2"></script>

        <script type="text/javascript" src="/js/jquery/TweenMax.min.js?v=20250211-2"></script>
        <script type="text/javascript" src="/js/jquery/jquery.cookie.js?v=20250211-2"></script>
        <!--<script type="text/javascript" th:src="'/js/lottie.js?v=' + ${cacheParam}"></script>-->
        <script type="text/javascript" src="/js/ui.common.js?v=20250211-2"></script>
        <script type="text/javascript" src="/js/subway.common.js?v=20250211-2"></script>
        <script type="text/javascript" src="/js/util/jsrender.js?v=20250211-2"></script>
        <script type="text/javascript" src="/js/jquery/jquery.tmpl.min.js?v=20250211-2"></script>
        <script type="text/javascript" src="/js/waffle/waffle.utils.js?v=20250211-2"></script>


        
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Person",
                "name": "신선하고 건강한 글로벌 NO.1 샌드위치 브랜드, 써브웨이",
                "url": "http://www.subway.co.kr",
                "sameAs": [
                    "https://www.instagram.com/subwaykorea",
                    "https://www.youtube.com/user/Subwaykr",
                    "https://www.facebook.com/Subwaykr"
                ]
            }
        </script>
        <!-- Facebook Pixel Code -->
        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return;
                n = f.fbq = function () {
                    n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '825983077607831');
            fbq('track', 'PageView');
        </script>
        <noscript>
            </noscript><img height="1" src="https://www.facebook.com/tr?id=825983077607831&ev=PageView&noscript=1" style="display:none" width="1" />
        
        <!-- End Facebook Pixel Code -->

        <!-- Kakao Pixel Code -->
        <!--
        <script type="text/javascript" charset="UTF-8" src="//t1.daumcdn.net/adfit/static/kp.js"></script>
        <script type="text/javascript">
            kakaoPixel('6816847143406094352').pageView();
        </script>
         -->
        <!-- Kakao Pixel Code -->
	<link rel="stylesheet" type="text/css" href="../css/ui.menu.css?v=20250211-2" />
	<!-- 메뉴소개 css -->
	<script src="/js/menu/menuList.js" type="text/javascript"></script>
	<script type="text/javascript">
            tab = null;
        </script>
	<script>
            $(document).ready(function(){
                var msg = null;

                if(msg != null){
                    alert(msg);
                    window.location.href = "/";
                }

                var menu = 'catering';
                var category = ['sandwich','salad','sides_drink','fresh','catering','wrap','morning'];
                var categoryCss = '';
                if(menu == 'sidedrink'){
                    menu = 'sides_drink';
                }else if(menu == 'unit'){
                    menu = 'wrap';
                }
                for(var i=0;i<category.length;i++){
                    if(menu == category[i]){
                        categoryCss = 'visual ' + menu;
                        break;
                    }else{
                        categoryCss = 'visual wrap';
                    }
                }

                $('#cssCategory').addClass(categoryCss);

                //tab 파라미터에 대한 함수
                $(window).load(function(){
                    if(tab){
                        $('.pd_tab li a').each(function(){
                            if($(this).attr('href') == tab){
                                $(this).trigger('click');
                            }
                        });
                    }
                });
            });
        </script>

    </head>
    <!--// inc header e -->

<body>


<script type="text/javascript">
    var IS_LOGIN = false;
    var IS_AUTH_NON_MEMBER =  null;
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-112310613-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

            gtag('js', new Date());
            gtag('config', 'UA-112310613-1');
        </script>

<!-- Global site tag (gtag.js) - AdWords: 802450606 -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=AW-802450606"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'AW-802450606');
</script>

        
        <div id="wrap">
            <!-- inc header s -->
            <div id="header">
    <script>
        /*<![CDATA[*/
        var memberVO = false;
        /*]]*/
    </script>
    <div class="content">
        <h1 class="logo"><a href="/">SUBWAY</a></h1>
        <!-- gnb -->
        <nav id="gnb">
            <ul>
                <li>
                    <a class="dp1 active" href="#none">메뉴소개</a>
                    <div class="dp2">
                        <ul>
                            <li>
                                <a href="/menuList/sandwich">샌드위치</a>
                            </li>
                            <li>
                                <a href="/menuList/unit">랩ㆍ기타</a>
                            </li>
                            <li>
                                <a href="/menuList/salad">샐러드</a>
                            </li>
                            <li>
                                <a href="/menuList/morning">아침메뉴</a>
                            </li>
                            <li>
                                <a href="/menuList/sidedrink">스마일 썹</a>
                            </li>
                            <li>
                                <a class="active" href="/menuList/catering">단체메뉴</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#none" class="dp1">이용방법</a>
                    <div class="dp2">
                        <ul>
                            <li><a href="/utilizationSubway">써브웨이 이용방법</a></li><!-- 20180201 -->
                            <li><a href="/utilizationGroupMenu">단체메뉴 이용방법</a></li>
                            <li><a href="/freshInfo">신선한 재료 소개</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#none" class="dp1">새소식</a>
                    <div class="dp2">
                        <ul>
                            <li><a href="/eventList">이벤트ㆍ프로모션</a></li>
                            <li><a href="/newsList">뉴스ㆍ공지사항</a></li>
                            <li><a href="/tvCommercial">광고영상</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#none" class="dp1">써브웨이</a>
                    <div class="dp2">
                        <ul>
                            <li><a href="/subwayHistory">써브웨이 역사</a></li>
                            <li><a href="/subwayPromise">써브웨이 약속</a></li>
                            <li><a href="/storeSearch">매장찾기</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#none" class="dp1">가맹점</a>
                    <div class="dp2">
                        <ul>
                            <li><a href="/franchise">써브웨이 프랜차이즈</a></li>
                            <li><a href="/franchiseFaq">가맹관련 FAQ</a></li>
                            <li><a href="/franchiseInquiry">가맹신청ㆍ문의</a></li>
                            <li><a href="/franchiseBranchGuide">지사안내</a></li>
                            <li><a href="/franchiseInformation">사업설명회</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="dp1" href="javascript:void(0);">온라인 주문</a>
                    <div class="dp2">
                        <ul>
                            <li><a href="/appOrder">APP 주문</a></li>
                            <li><a href="/order/view/group">단체주문</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        <!--// gnb -->
    </div>
</div>
            <!--// inc header e -->


            <!-- container s -->
            <div id="container">

            <div class="sub_header type01"><!-- 메뉴소개일경우 type01클래스 추가 -->
                <div class="content">
	<a class="logo" href="/">HOME</a>
	<!-- sub location -->
	<div class="sub_loc">
		<!-- 메뉴소개 -->
		<ul>
			<li><a href="/menuList/sandwich">샌드위치</a></li>
			<li><a href="/menuList/unit">랩ㆍ기타</a></li>
			<li><a href="/menuList/salad">샐러드</a></li>
			<li><a href="/menuList/morning">아침메뉴</a></li>
			<li><a href="/menuList/sidedrink">스마일 썹</a></li>
			<li class="active"><a href="/menuList/catering">단체메뉴</a></li>
			<!--	<li th:class="${#strings.contains(servletPath,'sandwich')} ? 'active':''"><a th:href="'/menuList/sandwich'">샌드위치</a></li>
                <li th:class="${#strings.contains(servletPath,'wrap')} ? 'active':''"><a href="/menuList/wrap">랩</a></li>
                <li th:class="${#strings.contains(servletPath,'salad')} ? 'active':''"><a href="/menuList/salad">찹샐러드</a></li>
                <li th:class="${smenu eq 'sideDrink' or #strings.contains(servletPath,'sidesDrink') ? 'active':''}"><a href="/menuList/sidesDrink">스마일 썹</a></li>
                <li th:class="${#strings.contains(servletPath,'catering')} ? 'active':''"><a href="/menuList/catering">단체메뉴</a></li>-->
		</ul>
		<!-- 이용방법 -->
		
	</div>
	<!--// sub location -->
	<a class="top" href="#none">TOP</a>
</div>
            </div>

            <!-- sub content s -->
            <div id="content">
                <!-- 메뉴소개 s -->
                <div class="menu_list_wrapper">
                    <!-- 상품 visual 스마일썹,랩 클래스명 css명과 동일하게 수정 -->
                    <div id="cssCategory">
                        
                        
                        
                        
                        
                        <h2>Catering Menu</h2>
                        
                        
                        
                        
                        
                        <p>특별한 순간을 더욱 특별하게 해줄 단체 매뉴를 소개합니다.<br />※ 최소 1일전 매장에 주문해주세요</p>
                        <div class="img01"></div>
                        <div class="img02"></div>
                        <div class="img03"></div>
                    </div>
                    <!--// 상품 visual -->

                    <!-- 상품별 정렬 tab -->
                    <div class="pd_tab">
                        <!-- 샌드위치 -->
                        <ul>
                            <li class="active"><a class="eng" href="all">All</a></li>
                            <li><a href="ITEM_CATERING.SANDWICH">샌드위치</a></li>
                            <li><a href="ITEM_CATERING.COOKIE">쿠키</a></li>
                        </ul>
                    </div>
                    <!--// 상품별 정렬 tab -->

                    <!-- 상품목록 -->
                    <div class="pd_list_wrapper">
                        <ul>
                            <li data-menusubsort="1" data-menumainsort="1" class="ITEM_CATERING.SANDWICH">
                                <!-- label -->
                                <div class="label">
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                </div>
                                <!--// label -->
                                <div class="img"><img onError="this.src='/images/common/noneImage.jpg'" src="/upload/menu/fresh_party_platter_20210315013350015.jpg" alt="프레쉬 파티플래터" /></div>
                                <strong class="tit">프레쉬 파티플래터</strong>
                                <span class="eng">Fresh Party Platter</span>
                                <!--<span class="cal" th:if="${rs.itemCalorie != '' and rs.itemCalorie != null}" th:text="${#strings.replace(rs.itemCalorie,'/','kcal / ')} + ' kcal'"></span>-->
                                <div class="summary">
                                    <p>터키, 햄, 참치, 에그마요, 써브웨이 클럽으로<br />구성된 어디서든 신선하게 즐길 수 있는<br />파티플래터</p></div>
                                <a href="#" onclick="menuDetail(this); return false;" data-category="catering" data-menuitemidx="1409"></a>
                            </li>
                            <li data-menusubsort="2" data-menumainsort="2" class="ITEM_CATERING.SANDWICH">
                                <!-- label -->
                                <div class="label">
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                </div>
                                <!--// label -->
                                <div class="img"><img onError="this.src='/images/common/noneImage.jpg'" src="/upload/menu/best_party_platter_20210315013336164.jpg" alt="베스트 파티플래터" /></div>
                                <strong class="tit">베스트 파티플래터</strong>
                                <span class="eng">Best Party Platter</span>
                                <!--<span class="cal" th:if="${rs.itemCalorie != '' and rs.itemCalorie != null}" th:text="${#strings.replace(rs.itemCalorie,'/','kcal / ')} + ' kcal'"></span>-->
                                <div class="summary">
                                    <p>터키, 참치, 스파이시 이탈리안, 이탈리안 비엠티,<br />써브웨이 클럽으로 구성된 모두의 입맛을<br />만족시키는 베스트 파티플래터</p></div>
                                <a href="#" onclick="menuDetail(this); return false;" data-category="catering" data-menuitemidx="1410"></a>
                            </li>
                            <li data-menusubsort="3" data-menumainsort="3" class="ITEM_CATERING.SANDWICH">
                                <!-- label -->
                                <div class="label">
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  <span class="party" style="background-color:primary-01">PARTY</span>
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                </div>
                                <!--// label -->
                                <div class="img"><img onError="this.src='/images/common/noneImage.jpg'" src="/upload/menu/gient_sub_3feet_20210315013326025.jpg" alt="자이언트 써브 90cm" /></div>
                                <strong class="tit">자이언트 써브 90cm</strong>
                                <span class="eng">Giant Sub 3feet</span>
                                <!--<span class="cal" th:if="${rs.itemCalorie != '' and rs.itemCalorie != null}" th:text="${#strings.replace(rs.itemCalorie,'/','kcal / ')} + ' kcal'"></span>-->
                                <div class="summary">
                                    <p>보는재미, 먹는재미! 특별한 날은 자이언트<br />써브로 더욱 특별하게<br />※이탈리안 비엠티, 햄,<br />터키, 스파이시 이탈리안 중 선택</p></div>
                                <a href="#" onclick="menuDetail(this); return false;" data-category="catering" data-menuitemidx="1411"></a>
                            </li>
                            <li data-menusubsort="4" data-menumainsort="4" class="ITEM_CATERING.SANDWICH">
                                <!-- label -->
                                <div class="label">
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  <span class="party" style="background-color:primary-01">PARTY</span>
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                </div>
                                <!--// label -->
                                <div class="img"><img onError="this.src='/images/common/noneImage.jpg'" src="/upload/menu/gient_sub_6feet_20210315013316147.jpg" alt="자이언트 써브 180cm" /></div>
                                <strong class="tit">자이언트 써브 180cm</strong>
                                <span class="eng">Giant Sub 6feet</span>
                                <!--<span class="cal" th:if="${rs.itemCalorie != '' and rs.itemCalorie != null}" th:text="${#strings.replace(rs.itemCalorie,'/','kcal / ')} + ' kcal'"></span>-->
                                <div class="summary">
                                    <p>보는재미, 먹는재미! 특별한 날은 자이언트<br />써브로 더욱 특별하게<br />※이탈리안 비엠티, 햄,<br />터키, 스파이시 이탈리안 중 선택</p></div>
                                <a href="#" onclick="menuDetail(this); return false;" data-category="catering" data-menuitemidx="1412"></a>
                            </li>
                            <li data-menusubsort="1" data-menumainsort="5" class="ITEM_CATERING.COOKIE">
                                <!-- label -->
                                <div class="label">
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                </div>
                                <!--// label -->
                                <div class="img"><img onError="this.src='/images/common/noneImage.jpg'" src="/upload/menu/cookie_box_20210315013017433.jpg" alt="쿠키박스" /></div>
                                <strong class="tit">쿠키박스</strong>
                                <span class="eng">Cookie Box</span>
                                <!--<span class="cal" th:if="${rs.itemCalorie != '' and rs.itemCalorie != null}" th:text="${#strings.replace(rs.itemCalorie,'/','kcal / ')} + ' kcal'"></span>-->
                                <div class="summary">
                                    <p>즐거운 순간을 5가지 맛의 쿠키와<br />함께 즐기세요 (12개입)</p></div>
                                <a href="#" onclick="menuDetail(this); return false;" data-category="catering" data-menuitemidx="1413"></a>
                            </li>
                            <li data-menusubsort="2" data-menumainsort="6" class="ITEM_CATERING.COOKIE">
                                <!-- label -->
                                <div class="label">
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                </div>
                                <!--// label -->
                                <div class="img"><img onError="this.src='/images/common/noneImage.jpg'" src="/upload/menu/cookie_platter_20210315013007139.jpg" alt="쿠키플래터" /></div>
                                <strong class="tit">쿠키플래터</strong>
                                <span class="eng">Cookie Platter</span>
                                <!--<span class="cal" th:if="${rs.itemCalorie != '' and rs.itemCalorie != null}" th:text="${#strings.replace(rs.itemCalorie,'/','kcal / ')} + ' kcal'"></span>-->
                                <div class="summary">
                                    <p>즐거운 순간을 5가지 맛의 쿠키와<br />함께 즐기세요 (36개입)</p></div>
                                <a href="#" onclick="menuDetail(this); return false;" data-category="catering" data-menuitemidx="1414"></a>
                            </li>
                        </ul>

                    </div>
                    <!--// 상품목록 -->
                </div>
                <!--// 메뉴소개 e -->
            </div>
            <!--// sub content e -->
        </div>

            <!-- inc footer s -->
            <div id="footer">
	    <div class="content">
	        <!-- util menu -->
	        <div class="util_menu">
	            <ul>
	                <li><a href="/agreement">이용약관</a></li>
	                <li><a href="/privacy"><strong>개인정보처리방침</strong></a></li>
	                <li><a href="/subcard">썹 카드& 썹 포인트 이용약관</a></li>
	                <li><a href="https://store.subway.co.kr/" target="_blank">점주관리자</a></li><!-- 20180202 추가 -->
	                <!-- 삭제 20180208
	                <li><a href="http://www.subway.com/en-us/exploreourworld" class="eng" target="_blank">Explore our world</a></li>
	                 -->
					<!-- 삭제 20180718
	                <li><a href="https://www.tellsubway.kr/ContentManager/Controller.aspx?page=Home/Home" class="eng" target="_blank">Tell Subway</a></li>
					-->
	                <!--<li><a href="http://www.global.subway.com" class="eng" target="_blank">Subway Listens</a></li>-->
	            </ul>
	        </div>
	        <!--// util menu -->

	        <span class="addr">서울시 서초구 강남대로 535 프린스빌딩 15층</span>
	        <span class="rep">대표 : INSOO CHO(인수조)</span>
	        <span class="tel">전화 : 02-797-5036</span>
			<span class="rep">사업자등록번호 : 101-84-04143</span>
	        <p class="copyright">SUBWAY® is a Registered Trademark of Subway IP LLC. © 2021 Subway IP LLC. All Rights Reserved.</p>
			<a class="sns_area instagram" href="https://www.instagram.com/subwaykorea" target="_blank">instagram</a>
	        <a class="sns_area fackbook" href="https://www.facebook.com/Subwaykr" target="_blank">facebook</a>
	    </div>
	</div>
            <!--// inc footer e -->
        </div>
    

</body></html>