<!DOCTYPE html>
<html lang="en">
<head>
    
<meta charset="UTF-8">
<title>POKE ALL DAY</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<meta name="naver-site-verification" content="2e6691a1007df9c965d266f0b5d6a94e5cda1eb7" />


    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4185KJP2PZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4185KJP2PZ');
</script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1825078358159503"
     crossorigin="anonymous"></script>

    <style>
        /* 알림 박스 스타일 */
        #notification {
            visibility: hidden;
            min-width: 250px;
            background-color: #4CAF50; /* 녹색 배경 */
            color: white;
            text-align: center;
            border-radius: 5px;
            padding: 10px;
            position: fixed;
            z-index: 1;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 17px;
        }

        /* 알림 박스가 나타날 때의 애니메이션 */
        #notification.show {
            visibility: visible;
            animation: fadeInOut 2s;
        }

        /* fadeInOut 애니메이션 정의 */
        @keyframes fadeInOut {
            0% {opacity: 0;}
            10% {opacity: 1;}
            90% {opacity: 1;}
            100% {opacity: 0;}
        }
    </style>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1825078358159503"
    crossorigin="anonymous"></script>
    
    <script>

        function showNotification() {
            var notification = document.getElementById("notification");
            notification.classList.add("show");
            setTimeout(function() {
                notification.classList.remove("show");
            }, 1000); // 1초 후 알림 숨김
        }


        function addItem(selectId, listId) {
            var select = document.getElementById(selectId);
            var selectedItem = select.options[select.selectedIndex].value;
            if (!document.getElementById(selectedItem)) {
                var list = document.getElementById(listId);
                var listItem = document.createElement("li");
                listItem.id = selectedItem;
                listItem.innerHTML = selectedItem + ' <button onclick="removeItem(\'' + selectedItem + '\')"> 삭제 </button>';
                list.appendChild(listItem);
                showNotification(); 
            }
        }

        function removeItem(itemId) {
            var listItem = document.getElementById(itemId);
            listItem.parentNode.removeChild(listItem);
        }

        function calculateNutrition() {
            var selectedItems = {
                selected_pokes: getSelectedItems("selected-pokes"),
                selected_toppings: getSelectedItems("selected-toppings"),
                selected_sauces: getSelectedItems("selected-sauces"),
                selected_bases: getSelectedItems("selected-bases")
            }; 

            fetch('/calculate_poke', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(selectedItems)
            }).then(response => response.json())
              .then(data => { 
                  document.getElementById('열량(kcal)').innerText = parseFloat(data['열량(kcal)']).toFixed(2);
                  document.getElementById('탄수화물(g)').innerText = parseFloat(data['탄수화물(g)']).toFixed(2);
                  document.getElementById('당류(g)').innerText = parseFloat(data['당류(g)']).toFixed(2);
                  document.getElementById('단백질(g)').innerText = parseFloat(data['단백질(g)']).toFixed(2);
                  document.getElementById('지방(g)').innerText = parseFloat(data['지방(g)']).toFixed(2);
                  document.getElementById('포화지방(g)').innerText = parseFloat(data['포화지방(g)']).toFixed(2);
                  document.getElementById('나트륨(mg)').innerText = parseFloat(data['나트륨(mg)']).toFixed(2);
              });
        }

        function getSelectedItems(listId) {
            var selectedItems = [];
            var list = document.getElementById(listId).children;
            for (var i = 0; i < list.length; i++) {
                selectedItems.push(list[i].id);
            }
            return selectedItems;
        }
    </script>
</head>
<body>
    <nav>
        <a href="/" class="{% if request.path == '/' %}active{% endif %}">서브웨이</a>
        <a href="/salady" class="{% if request.path == '/salady' %}active{% endif %}">샐러디</a>
        <a href="/poke" class="{% if request.path == '/poke' %}active{% endif %}">포케올데이</a>
        <a href="/test" class="{% if request.path == '/test' %}active{% endif %}">테스트</a>
    </nav>

    <a href="https://subwayyy.kr/poke"></a>
        <img src="{{ url_for('static', filename='images/poke.png') }}" ,alt="POKE" class="logo" width="15%">
    </a>
    <div id="notification">추가되었습니다!</div>

    
    <div class="container">
        <div class="selection">
            <!-- poke selection -->
            <h3>🥙 pokes 🥙</h3>
            <select id="poke-select">
                {% for poke in pokes %}
                    <option value="{{ poke }}">{{ poke }}</option>
                {% endfor %}
            </select>
            <button onclick="addItem('poke-select', 'selected-pokes')">Add poke</button>

            <h3>🥙 bases 🥙</h3>
            <select id="base-select">
                {% for base in bases %}
                    <option value="{{ base }}">{{ base }}</option>
                {% endfor %}
            </select>
            <button onclick="addItem('base-select', 'selected-bases')">Add base</button>

            <h3>🍲 toppings 🍲</h3>
            <select id="topping-select">
                {% for topping in toppings %}
                    <option value="{{ topping }}">{{ topping }}</option>
                {% endfor %}
            </select>
            <button onclick="addItem('topping-select', 'selected-toppings')">Add Topping</button>

            <h3>🥗 sauces 🥗</h3>
            <select id="sauce-select">
                {% for sauce in sauces %}
                    <option value="{{ sauce }}">{{ sauce }}</option>
                {% endfor %}
            </select>
            <button onclick="addItem('sauce-select', 'selected-sauces')">Add Sauce</button>

          
        </div>
    </div>

    <div class="selected-items">
        <h3>🍕 Selected Items 🍕</h3>
        <table id="selected_table">
            <tbody>
                <tr><td><h3>pokes:</h3></td><td><ul id="selected-pokes"></ul></td></tr>
                <tr><td><h3>bases:</h3></td><td><ul id="selected-bases"></ul></td></tr>
                <tr><td><h3>toppings:</h3></td><td><ul id="selected-toppings"></ul></td></tr>
                <tr><td><h3>sauces:</h3></td><td><ul id="selected-sauces"></ul></td></tr>
                
            </tbody>
        </table>
    </div>

    <button onclick="calculateNutrition()">Calculate</button>
    <div class="nutrition-info">
        <h3>⭐ Total Nutrition Information ⭐</h3>
        <table id="nutrition_table">
            <tr><th>Nutrient</th><th>Amount</th></tr>
            <tr><td>열량(kcal)</td><td id="열량(kcal)">0g</td></tr>
            <tr><td>탄수화물(g)</td><td id="탄수화물(g)">0kcal</td></tr>
            <tr><td>당류(g)</td><td id="당류(g)">0g</td></tr>
            <tr><td>단백질(g)</td><td id="단백질(g)">0g</td></tr>
            <tr><td>지방(g)</td><td id="지방(g)">0g</td></tr>
            <tr><td>포화지방(g)</td><td id="포화지방(g)">0mg</td></tr>
            <tr><td>나트륨(mg)</td><td id="나트륨(mg)">0mg</td></tr>
        </table>
    </div>
</body>
</html>
