<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Adsense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1825078358159503"
     crossorigin="anonymous"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-L4WC6NVKHG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-L4WC6NVKHG');
</script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1825078358159503"
     crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>SALADY</title>
    <meta name="description" content="샐러디 칼로리를 계산해보세요. ">
    <meta name="keywords" content="샐러디, 칼로리, 영양성분, 샐러디 다이어트, 샐러디 수프">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
    <script>
        
        function addItem(selectId, listId) {
            var select = document.getElementById(selectId);
            var selectedItem = select.options[select.selectedIndex].value;
            if (!document.getElementById(selectedItem)) {
                var list = document.getElementById(listId);
                var listItem = document.createElement("li");
                
                listItem.id = selectedItem;
                
                listItem.innerHTML = selectedItem + ' <button onclick="removeItem(\'' + selectedItem + '\')"> 삭제 </button>';
                list.appendChild(listItem);
            }
        }

        function removeItem(itemId) {
            var listItem = document.getElementById(itemId);
            listItem.parentNode.removeChild(listItem);
        }

        function calculateNutrition() {
            var selectedSalads = getSelectedItems("selected-salads");
            var selectedBreads = getSelectedItems("selected-breads");
            var selectedCheeses = getSelectedItems("selected-cheeses");
            var selectedSauces = getSelectedItems("selected-sauces");
            var selectedSides = getSelectedItems("selected-sides");

            fetch('/calculate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    selected_salads: selectedSalads,
                    selected_breads: selectedBreads,
                    selected_cheeses: selectedCheeses,
                    selected_sauces: selectedSauces,
                    selected_sides: selectedSides
                })
            }).then(response => response.json())
              .then(data => { 
                  document.getElementById('열량(kcal)').innerText = parseFloat(data['열량(kcal)']).toFixed(2) ;
                  document.getElementById('탄수화물(g)').innerText = parseFloat(data['탄수화물(g)']).toFixed(2) ;
                  document.getElementById('당류(g)').innerText = parseFloat(data['당류(g)']).toFixed(2) ;
                  document.getElementById('단백질(g)').innerText = parseFloat(data['단백질(g)']).toFixed(2);
                  document.getElementById('지방(g)').innerText = parseFloat(data['지방(g)']).toFixed(2) ;
                  document.getElementById('포화지방(g)').innerText = parseFloat(data['포화지방(g)']).toFixed(2) ;
                  document.getElementById('나트륨(mg)').innerText = parseFloat(data['나트륨(mg)']).toFixed(2) ;

              });
        }

        function getSelectedItems(listId) {
            var selectedItems = [];
            var list = document.getElementById(listId).children;
            for (var i = 0; i < list.length; i++) {
                selectedItems.push(list[i].id);
            }
            return selectedItems;
        }
    </script>

    <script>
        (function() {
        var analytics = document.createElement('script');
        analytics.src = 'https://cdn.vercel-insights.com/v1/script.tag';
        analytics.async = true;
        analytics.defer = true;
        document.head.appendChild(analytics);
        })();

        import { inject } from '@vercel/analytics';
        // import some helper that is exposed by your current framework to determine the right mode manually
        import { dev } from '$app/environment';
        
        inject({
        mode: dev ? 'development' : 'production',
        });

        function showNotification() {
            var notification = document.getElementById("notification");
            notification.classList.add("show");
            setTimeout(function() {
                notification.classList.remove("show");
            }, 1000); // 1초 후 메시지 숨김
        }
    
  </script>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  
</head>
<body>
    <nav>
        <a href="/" class="{% if request.path == '/' %}active{% endif %}">서브웨이</a>
        <a href="/salady" class="{% if request.path == '/salady' %}active{% endif %}">샐러디</a>
    </nav>

    <a href="https://subwayyy.kr/salady">
        <img src="{{ url_for('static', filename='images/salady.png') }}" ,alt="SALADY" class="logo" width="30%">
    </a>
    <div class="container">
        
        <div class="selection">
            <h3>🥪 Select your salad🥪</h3>
            <select id="salad-select">
                {% for salad in salads %}
                    <option value="{{ salad }}">{{ salad }}</option>
                {% endfor %}
            </select>
            <button onclick="addItem('salad-select', 'selected-salads')">Add Salad</button>
            <h3>🍞 Select your bread 🍞</h3>
            <select id="bread-select">
                {% for bread in breads %}
                    <option value="{{ bread }}">{{ bread }}</option>
                {% endfor %}
            </select>
            <button onclick="addItem('bread-select', 'selected-breads')">Add Bread</button>
            <h3>🧀 Select your cheese 🧀</h3>
            <select id="cheese-select">
                {% for cheese in cheeses %}
                    <option value="{{ cheese }}">{{ cheese }}</option>
                {% endfor %}
            </select>
            <button onclick="addItem('cheese-select', 'selected-cheeses')">Add Cheese</button>
            <h3>🧂 Select your sauce 🧂</h3>
            <select id="sauce-select">
                {% for sauce in sauces %}
                    <option value="{{ sauce }}">{{ sauce }}</option>
                {% endfor %}
            </select>
            <button onclick="addItem('sauce-select', 'selected-sauces')">Add Sauce</button>

            <h3>🍟 Select your sides 🍟</h3>
            <select id="sides-select">
                {% for side in sides %}
                    <option value="{{ side }}">{{ side }}</option>
                {% endfor %}
            </select>
            <button onclick="addItem('sides-select', 'selected-sides')">Add Sides</button>
        </div>
    </div>

    <div class="selected-items">
        <h3>🍕 Selected Items 🍕</h3>
        <table id="selected_table">
            <tbody>
                <tr>
                    <td><h3>Sandwiches:</h3></td>
                    <td><ul id="selected-salads"></ul></td>
                </tr>
                <tr>
                    <td><h3>Breads:</h3></td>
                    <td><ul id="selected-breads"></ul></td>
                </tr>
                <tr>
                    <td><h3>Cheeses:</h3></td>
                    <td><ul id="selected-cheeses"></ul></td>
                </tr>
                <tr>
                    <td><h3>Sauces:</h3></td>
                    <td><ul id="selected-sauces"></ul></td>
                </tr>
                <tr>
                    <td><h3>Sides:</h3></td>
                    <td><ul id="selected-sides"></ul></td>
                </tr>

            </tbody>
        </table>
    </div>

    <button onclick="calculateNutrition()">Calculate</button>
    <div class="nutrition-info">
        <h3>⭐Total Nutrition Information⭐</h3>
        <table id="nutrition_table">
            <tr>
                <th>Nutrient</th>
                <th>Amount</th>
            </tr>
            <tr>
                <td>열량(kcal)</td>
                <td id="열량(kcal)">0g</td>
            </tr>
            <tr>
                <td>'탄수화물(g)'</td>
                <td id="탄수화물(g)">0kcal</td>
            </tr>
            <tr>
                <td>당류(g)</td>
                <td id="당류(g)">0g</td>
            </tr>
            <tr>
                <td>단백질(g)</td>
                <td id="단백질(g)">0g</td>
            </tr>
            <tr>
                <td>지방(g)</td>
                <td id="지방(g)">0g</td>  
            </tr>
            <tr>
                <td>포화지방(g)</td>
                <td id="포화지방(g)">0mg</td>  
            </tr>
            <tr></tr>
                <td>나트륨(mg)</td>
                <td id="나트륨(mg)">0mg</td>  
            </tr>
        </table>
    </div>
    
</body>
</html>
