<!DOCTYPE html>
<html lang="en">
<head>
    <body>
        <nav>
            <a href="/" class="{% if request.path == '/' %}active{% endif %}">서브웨이</a>
            <a href="/salady" class="{% if request.path == '/salady' %}active{% endif %}">샐러디</a>
            <a href="/test" class="{% if request.path == '/test' %}active{% endif %}">테스트</a>
        </nav>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <div>
    <img src="{{ url_for('static', filename='images/테스트페이지.png') }}" >
</div>
</body>
</html>
