<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="naver-site-verification" content="2e6691a1007df9c965d266f0b5d6a94e5cda1eb7" />


    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4185KJP2PZ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-4185KJP2PZ');
    </script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1825078358159503"
     crossorigin="anonymous"></script>
    <body>
        <nav>
            <a href="/" class="{% if request.path == '/' %}active{% endif %}">서브웨이</a>
            <a href="/salady" class="{% if request.path == '/salady' %}active{% endif %}">샐러디</a>
            <a href="/test" class="{% if request.path == '/test' %}active{% endif %}">테스트</a>
        </nav>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <div>
    <img src="{{ url_for('static', filename='images/test.png') }}" >
</div>
</body>
</html>
